<div class="task-show-container">
  <div class="task-show-container-content">

    <div class="dash-goals-title-page">
      <h2 class="animate__animated animate__slideInLeft">Create a new task</h2>
    </div>

  </div>
</div>
