.click-button {
  margin: auto;
  text-align: left;
}

button {
  padding: 0.5rem;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  border: 1px solid lightblue;
  color: lightblue;
  border: 3em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

// Cards

.card__container {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100vh;
}

.card {
  width: 90%;
  height: 25vh;
  margin: 10px;
  text-align: center;
  border: none;
  background-color: #383838;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 8px;
  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    text-transform: uppercase;
    text-align: right;
    font-size: 1rem;
    margin: auto;
  }
}

.dash-goals-title {
   color:#ec9f05;
   font-size: 1rem;
   display: flex;
   justify-content: center;
   padding-top: 4vh;
   padding-bottom: 4vh;
}
