// Button

.click-button {
  margin: auto;
  text-align: left;
}

.click-button button {
  font-size: 0.9rem;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.4rem;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

// Cards

.card__container {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 100vh;
  margin: auto;
}

.card {
  width: 90%;
  height: 25vh;
  margin: 10px;
  text-align: center;
  border: none;
  background-color: #383838;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 8px;
  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    text-transform: uppercase;
    text-align: right;
    font-size: 1rem;
    margin: auto;
  }
}

.frequence {
  display: inline;
  padding-bottom: 1rem;
}

.frequency {
  display: inline-block;
  font-style: italic;
  font-size: 0.9rem;
  color: #27e98b;
}

#week-times {
  display: inline-block;
  font-style: italic;
  font-size: 0.9rem;
  color: #27e98b
}

.new-goal {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    i {
      font-size: 3rem;
      color: #f47141;
      text-decoration: none;
    }
}


// Title

.dash-goals-title-page {
  color:#f47141;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 4vh;
}

.dash-goals-title {
  color:#f47141;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
}

// Citation

.citation{
  font-size: 1em;
  width: 90%;
  margin: auto;
  font-family: 'Exo 2', sans-serif;
  font-style:italic;
  color: white;
  padding: 1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background-color: #383838;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 1rem;
}

.citation::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.citation::after{
  content: '';
}

.citation span{
  display:block;
  color: white;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.citation-title {
  color:#f47141;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
}

// HR

hr {
    height: 1px;
    width: 80vw;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

// Events

.event-create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  width: 35%;
  font-size: 0.9rem;
  text-align: center;
  padding: 1vh;
  border-radius: 24px;
  background-color: initial;
  background-image: linear-gradient(-180deg, #e9681e, #e66a4e);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  a {
    color: #383838;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
  }
}

.event {
  padding-top: 0.5rem;
  a{
    color: #f47141;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
  }
}

.dashboard-container {
  padding-bottom: 60px;
}
