.main-summary {
  height: 100vh;
  max-height: 100vh;
  padding-top: 10vh;
}

.goal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 2vh 0;
}

.inter-line {
  margin: 0;
  border: 0.1px solid lightgray;
  width: 70%;
}

.days-summary-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 60%;
}

.summary-header {
  color: #f47141;
}

.choice-item {
  width: 60%;
  font-size: 20px;
  text-align: center;
  color: lightgray;
}

.hidden-form {
  display: none;
}

.navigation-buttons {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  padding-top: 2vh;
  color: #f47141;
}

.now-button {
  display: block;
  box-sizing: border-box;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(214, 208, 208);
  padding: 3vh;
  border-radius: 24px;
  background-color: initial;
  background-image: linear-gradient(-180deg, #e9681e, #e66a4e);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  padding: 2vh 5vh;
}

.icon {
  width: 40%;
  font-size: 48px;
  text-align: center;
}
