.simple-calendar {
  table {
    max-height: 5vh;
    max-width: 100vh;
    color: white;
    border-radius: 16px;
    font-size: 0.8rem;
  }
  .today {
    background-color: #8f8f8f;
  }
  .calendar-heading {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.event {
  text-align: center;
  color: #78C0A8;
  padding: 0.2rem 1.4rem;
  border-radius: 4px;
  background: #383838;
  transition: background 0.3s ease;
  small {
    font-style: italic;
  }
}


.btn-success {
  border-radius: 8px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: #f47141;
  border: none;
}
