.monday-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.tuesday-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.wednesday-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.thursday-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.friday-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.saturday-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.sunday-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.form-group.boolean.optional.goal_monday {
  width: 60%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.form-group.boolean.optional.goal_tuesday {
  width: 60%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.form-group.boolean.optional.goal_wednesday {
  width: 60%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.form-group.boolean.optional.goal_thursday {
  width: 60%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.form-group.boolean.optional.goal_friday {
  width: 60%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.form-group.boolean.optional.goal_saturday {
  width: 60%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.form-group.boolean.optional.goal_sunday {
  width: 60%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}
