#yoda-1, #yoda-2, #yoda-3 {

  .main-start-div-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bubble {
    position: relative;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    height: 150px;
    background: #fff;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    color: #000;
  }

  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    right: 30px;
    bottom: -24px;
  }
  .yoda-says{
    margin-bottom: 2rem;
    h3{
      font-size: 1.4rem;
    }
  }

  .yoda-img-div{
    display: flex;
    justify-content: center;

    .yoda-img{
      width: 75%;
      height: auto;
    }
  }
}
