<div class="main-start-div">
  <div class="main-start-div-content dashboard-container">
    <div class="dash-goals-title">
      <h2>My Goals</h2>
    </div>
    <% @goals.each do |goal| %>
    <div class="card__container">
      <div class="card">
        <div class="card__content">
          <div class="click-button">
            <button class="clickme">Add a step: 0</button>
          </div>
          <h3 class="card__header"><%= goal.activity.name %></h3>
        </div>
    <% end %>
    </div>
</div>
