<div class="main-start-div" id="step-3">
    <div class="main-start-div-content">
      <div class="title-header">
        <h1>Levels</h1>
      </div>
      <div>
        <%= f.association :level,
                  legend_tag: false,
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'element-wrapper',
                  item_wrapper_class: 'element-item',
                  input_html: {class: 'element-selector'},
                  collection: levels %>
        <%= f.submit class: 'button' %>
      </div>
      <div class="next-btn">
        <h2><i class='fa-solid fa-chevron-right summary-header'></i></h2>
      </div>
    </div>
</div>
