<div class="main-start-div" id="step-1">
    <div class="main-start-div-content">
      <div class="title-header">
        <h1>Activities</h1>
      </div>
      <%= f.association :activity,
            legend_tag: false,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'element-wrapper',
            item_wrapper_class: 'element-item',
            input_html: {class: 'element-selector'},
            collection: activities %>
    </div>
</div>
