<div class="main-start-div" id="step-1">
    <div class="main-start-div-content">
      <div class="title-header">
        <h1>Activities</h1>
      </div>
      <%= f.association :activity,
            legend_tag: false,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'element-wrapper',
            item_wrapper_class: 'element-item',
            input_html: {class: 'element-selector'},
            collection: activities
      %>
      <div class="prev-btn">
        <h2><i class='fa-solid fa-chevron-left summary-header'></i></h2>
      </div>
      <div class="next-btn">
        <h2><i class='fa-solid fa-chevron-right summary-header'></i></h2>
      </div>
      <audio autoplay="true" src="<%= asset_path('starwars-song.mp3') %>" type="audio/mp3" id="starwars-audio"></audio>
        <script type="text/javascript">
        const sound = document.getElementById('starwars-audio');
        const fadeAudio = setInterval(() => {
          const fadePoint = sound.duration - 120;
          if ((sound.currentTime >= fadePoint) && (sound.volume !== 0)) {
            sound.volume -= 0.1
          }

          if (sound.volume < 0.003) {
            clearInterval(fadeAudio);
          }
        }, 250);
        </script>
    </div>
</div>
