<div class="main-start-div" id="step-3">
    <div class="main-start-div-content d-flex flex-column justify-content-between">
      <div class="title-header">
        <h1>Motivation</h1>
      </div>
      <div>
        <%= f.association :level,
                  legend_tag: false,
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'element-wrapper',
                  item_wrapper_class: 'element-item',
                  input_html: {class: 'element-selector'},
                  collection: levels,
                  checked: levels.first.id %>
      </div>
      <div class= "mb-3">
        <%= f.submit class: 'button' %>
      </div>
      <div class="prev-btn">
        <h2><i class='fa-solid fa-chevron-left summary-header'></i></h2>
      </div>
    </div>
</div>
