<div class="main-start-div" id="yoda">
    <div class="main-start-div-content">
      <div class="yoda-says">
        <div class="bubble bubble-bottom-left"><%= @yoda_phrase_1 %></div>
      </div>
      <div class="yoda-img">
        <%= image_tag "assets/images/yoda.png" %>
      </div>
    </div>
</div>
